$gray-scale-1: #ebebeb;
$gray-scale-2: #dcdddd;
$gray-scale-3: #b5b5b6;
$gray-scale-4: #9fa0a0;
$gray-scale-5: #555555;

$light-blue: #39B54A;

$offwhite: $gray-scale-1;
$light-gray: $gray-scale-4;
$dark-gray: $gray-scale-5;

$accent-color: $light-blue;
