@import './colors.scss';
@import './fonts.scss';

$control-item-background-color: $light-gray;
$control-item-text-color: $dark-gray;

$control-height: 100px;

$control-piece-height: 50px;
$select-height: 24px;

$button-color: $accent-color;
$button-text-color: $control-item-text-color;
$button-width: 150px;
$button-height: $control-piece-height;

$label-color: $light-gray;
$input-color: $dark-gray;

.select-box {
  display: inline-block;
}

.select-container {
  position: relative;
  background-color: $background-color;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;

  outline:none;
  width: $button-width;
  height: $select-height;

  border-radius: 0;

  // padding: 10px;
  color: $font-color;

  border: none;
  border-bottom: 1px solid $accent-color;
  font-size: $input-font-size;
  background-color: $background-color;

  &:active, &:focus {
  }
  + .genericon {
    position: absolute;
    right: 10px;
    top: 40%;
    pointer-events: none;
  }
}

.spotify-player {
  z-index: -100;
  float:left;
  position: fixed;
  top: 0;
  left: 0;
}

.audio-box-parent {
  display: none;
}

.controls {
  padding: 15px 0;
  max-width: 100%;
  text-align: center;
}

.control-piece {
  padding:0 10px;
  display: inline-block;
  vertical-align: top;
}

/** Button Styling **/
.button-parent {
  height: 100%;
  width: auto;
}

.button {
  cursor: pointer;
  height: $button-height;
  width: $button-width;
  border-radius: 2px;
  float: right;
  background-color: $button-color;
}

.button-text {
  text-align: center;
  vertical-align: middle;
  line-height: $button-height;
  font-size:$input-font-size;
}

/** Number input box styling **/
.number-input-parent {
  text-align: left;
}

.number-input-label {
  text-align: left;
  font-size: $input-font-size;
  font-weight: lighter;
}

.number-input-box {
  border: none;
  border-bottom: 1px solid $accent-color;
  font-size: $input-font-size;
  &:focus{
    outline: none;
  }
}

/** Search Bar **/
.search-parent {
  margin: 0 auto;
  width: 50%;
  height: $control-piece-height;
  border-bottom: 1px solid $accent-color;
  text-align: center;
}

.search-icon {
  float: left;
  width: 10%;
  height: $control-piece-height;
  padding-top: 10px;

  .genericon {
    float: left;
  }
}

.search-clear {
  float: left;
  width: 10%;
  height: $control-piece-height;
  padding-top: 10px;

  .genericon {
    float: right;
  }
}

.search-input-box {
  float: left;
  width: 80%;
  height: $control-piece-height;
  font-size: $search-font-size;
  padding: 0;
  border:none;
  text-align: center;
  &:focus {
    outline:none;
  }
}

/** Date slider **/
.selection{
  fill: $accent-color;
  fill-opacity: 0.8;
  stroke: none;
}

.handle {
  fill: none;
  display: none;
}

.slider-axis  line {
  stroke: $stroke-color;
}
.slider-axis  path {
  stroke: $stroke-color;
}
.slider-axis text {
  stroke: none;
  fill: $font-color;
}
g.brush>.resize {
  display: none;
}

.date-label {
  font-size: $axes-font-size;
}
