@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$title-font: 'Lobster';
$font: 'Roboto';

// Media queries here?
$base-font-size: 18px;

$input-font-size: $base-font-size;
$title-font-size: 2.0em;
$axes-font-size: 1.2em;
$search-font-size: 1.8em;

$splash-title-font-size: 3.5em;
$splash-subtitle-font-size: 1.4em;
$splash-subtitle-bold-font-size: 1.5em;

$tooltip-top-font-size: 1.8em;
$tooltip-sub-font-size: 1.0em;
$tooltip-super-font-size: 2.2em;
