@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$title-font: 'Lobster';
$font: 'Roboto';

// Media queries here?
$base-font-size: 18px;

$input-font-size: $base-font-size;
$title-font-size: 2.0*$base-font-size;
$axes-font-size: 0.6*$base-font-size;
$search-font-size: 1.8*$base-font-size;

$splash-title-font-size: 3.5*$base-font-size;
$splash-subtitle-font-size: 1.4*$base-font-size;
$splash-subtitle-bold-font-size: 1.5*$base-font-size;

$tooltip-top-font-size: 1.8*$base-font-size;
$tooltip-sub-font-size: 1.0*$base-font-size;
$tooltip-super-font-size: 2.2*$base-font-size;

// Genericons
.genericon {
  color: $accent-color;
}

.genericon-downarrow:before {
  font: normal 16px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.genericon-search:before {
  font: bold 25px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.genericon-close-alt:before {
  font: normal 25px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
