@import './colors';
@import './main.scss';

.song-graph-content {
  overflow: scroll;
}

.song-graph-exit {
  cursor: pointer;
}

text {
  stroke: none;
  fill: $font-color;
  font-size: $base-font-size;
  font-style: italic;
}
