#songGraph {
	display: inline-block;
	.axis{
		path{
			display:none
		}
  		.tick line{
  			display:none;
  		}
	}

	.legend{
		.gradientYAxis{
	  		path{
	  			display:none;
	  		}
	  		.tick line{
	  			display:none;
	  		}
	  		text{
	  			fill:gray;
	  		}
  		}
	}
}
