@import './colors.scss';
@import './fonts.scss';

.stream-chart {
  display: inline-block;
}

svg {
  display: block;
}

.stream-label {
  font-size: $title-font-size;
  fill: $font-color;
}

.spinner-container {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 10;
}
