@import './colors.scss';

$tooltip-background-color: $offwhite;
$tooltip-font-color: $dark-gray;

$tooltip-min-width: 200px;

/** Stream graph tooltip **/
.tooltip-artist {
  font-size: 25px;
  font-weight: lighter;
}

.tooltip-time {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.tooltip-count {

}
.tooltip-count-graph {
  width: 100%;
}

.tooltip-separator {
  height: 1px;
  width: 100%;
  background-color: $dark-gray;
  margin: 1px 0 5px 0;
}

.tooltip-piece {
  padding: 5px 0;
}

.x-axis-tip-bar{
  .tick {
    font-size: 12px;
    font-weight: bold;
    fill: $dark-gray;
    stroke: none;
  }
  path {
    fill:none;
    stroke: none;
  }
}

.bar-text-label {
  font-size: 14px;
  fill: $tooltip-font-color;
}

/** Tooltip general **/
.d3-tip {
  line-height: 1;
  padding: 12px 12px 0 12px;
  background: $tooltip-background-color;
  color: $tooltip-font-color;
  border-radius: 2px;
  box-shadow: 1px 1px 1px $dark-gray;
  min-width: $tooltip-min-width;
  max-width: $tooltip-min-width*1.5;
}
